body,td,th,p,ul,ol,li,div,address,blockquote { font-family:Arial,Verdana,Helvetica, sans-serif; orphans:3; }
body { background-color:#808080; color:#303020; }
a:link { text-decoration:none; font-weight:bold; color:#223060;}
a:visited { text-decoration:none; font-weight:bold; color:#334460; }
a:active { text-decoration:none; font-weight:bold; color:#cc0055;  }
a:hover { text-decoration:underline; font-weight:bold; color: #cc0044;}

pre { font-family:Courier New,Courier,monospace; font-size:80%; color:#104010; font-weight:normal;}
/* style for POP-Ray */