env:
  global:
   # Required for clang.
   - CXXFLAGS="-fno-fast-math"

branches:
  except:
  - /^v[0-9]/

language: cpp

matrix:
  include:
  - os: linux
    compiler: gcc
  - os: osx
    compiler: clang

sudo: false
dist: trusty

addons:
  apt:
    packages:
    - libboost-dev
    - libboost-date-time-dev
    - libjpeg8-dev
    - libopenexr-dev
    - libpng12-dev
    - libtiff4-dev
    - zlib1g-dev

install:
- unix/prebuild.sh
- ./configure COMPILED_BY="Travis CI" --prefix="$(pwd)/build"
- make check
- make install

script:
- true

notifications:
  email:
    recipients:
    - ${NOTIFICATION_EMAIL}
    on_success: change
    on_failure: always
