env:
  global:
    # Required for Coverity Scan
    - secure: "BT2A2IDJx9nlEUnE8ZYtJQk2XAYTGu3+BT4qTTmxrS94htpUl1c82cM0RceUW/rzKrcJ7JAvQ1YuqJLlUW7J2cIWOdrF8Mk4DtlZSV9KnMc5+h7hf3bGGPw/LnYGnhrWYtSQfjZJHeCBfJufb4e7YqDfRz3UKDQ6FZCsFFMWnCAmBymF1Zj+ip7jkUn+P2gP8/vPjZupvfEZ0h8CkCXm7kSqHmTj0l9gOBQ6OMzP0uFN3KcRD5B+DSxoTmRGe+1abOr2nxUhIQsJxQZ5Y/V0ItwgNnoevi8d35QD9A2FT7gtuDkhYu0Fb8Jz6mReXk51hM6hE1qmfW+n2Dau679WkAtm4c/2osWwtxc1dbvQNvnr/XEnj51c4pbyPugjAKWoa/B73hXAflbrq0FWm14JVG2kCJYqid12HRvkMvzGJtjgJy5jIlPx+cb+BZ6tYsoa9m7CO1rTuYxUyKsHGtXSYOMPKyc7RIePOi37ZBF9QAm/urJdP6c6pfsrLEKvNOHArmUIixjrC9ImdQdJDBcgVUgP1h4oFfWaHgrys8B0EviIMoBewmTF8dUkD9j5rbpAonfjSpX0RX0Rcqtx2Mr68W97+BSGCy+WNIBe4ACivHDjYzfUw44ruYjZqUeXKzhJUHJxCf9OnqpppJ8ru6n6Tc7kMKcEEfZGDdVICrsBuMs="
    # In Coverity Scan builds, ./configure is automatically called without parameters, so we must pass them via
    # environment variables.
    - COMPILED_BY="Travis CI for Coverity Scan"
    # In Coverity Scan builds, the assembler gags on FMA3 instructions (e.g. VFMADD321SS) for some reason, so we must
    # forbid the compiler to emit them.
    # We also set a preprocessor macro to know we're building for Coverity.
    - CXXFLAGS="-mno-fma -DSTATIC_CODE_ANALYSIS"

before_install:
  # Required(?) for Coverity Scan
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

branches:
  except:
  - /^v[0-9]/

language: cpp

matrix:
  include:
  - os: linux
    compiler: gcc

sudo: required
dist: trusty

addons:
  apt:
    packages:
    - libboost-dev
    - libboost-date-time-dev
    - libboost-thread-dev
    - libjpeg8-dev
    - libopenexr-dev
    - libpng12-dev
    - libtiff4-dev
    - zlib1g-dev
  # Required for Coverity Scan
  coverity_scan:
    project:
      name: "POV-Ray/povray"
      description: "Linux build submitted via Travis CI"
    notification_email: coverity-scan@lipka-koeln.de
    build_command_prepend: "unix/prebuild.sh ; ./configure"
    build_command: "make"
    # Instead of using pattern matching to choose which branches to run Coverity Scan on
    # (which turns out more difficult than expected), we simply use different .travis.yml files.
    # We need to do that anyway, because normally we also run osx/clang, which doesn't sit well
    # with Covertiy Scan.
    branch_pattern: "*"

script:
- true
