version: 3.8+av{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  except:
  - coverity_scan

skip_tags: true

image: Visual Studio 2015

shallow_clone: true

matrix:
  fast_finish: true

environment:
  PovBuildDefs:
    secure: dQ/GBBYlkqKDmBEgJfgajfBn58ziSh1JPXsiWtnBL1dE3/s4QZJutGdDtLxiG3eNq0DXMVhDIbGqyPSma9Q9xazlpRZkuU7Gl8rXCw7c03A/oliLoR6q/0Jb+Q9LNH5R/oYiDCHhNP8Cx6OXys4d5A==
  matrix:
  - configuration: Release
    platform: x64
    bin_dir: bin64
    artifact_suffix: -Win64
  - configuration: Release-SSE2
    platform: Win32
    bin_dir: bin32
    artifact_suffix: -Win32-sse2
  - configuration: Release
    platform: Win32
    bin_dir: bin32
    artifact_suffix: -Win32

before_build:

build:
  project: windows/vs2015/povray.sln
  parallel: true
  verbosity: minimal

after_build:
- ps: |
    Set-ExecutionPolicy remotesigned -scope process -force
    ./tools/windows/get-source-version.ps1 ./source/base/version.h
    $prerelease = $env:POV_SOURCE_PRERELEASE
    $env:pov_exe_version = $env:POV_SOURCE_VERSION
    $env:pov_tag_version = 'v' + $env:pov_exe_version
    $env:pov_build_version = $env:pov_tag_version + '+av' + $env:APPVEYOR_BUILD_NUMBER
    $env:pov_build_message = ''
    if ($prerelease -match '^x') {
      $env:pov_build_type = 'Experimental'
      $env:pov_build_message += '**EXPERIMENTAL: This version of POV-Ray is not part of the official development branch!**'
      $env:pov_build_message += "`n`n"
    } elseif ($prerelease) {
      $env:pov_build_type = 'Development'
    } else {
      $env:pov_build_type = 'Automated'
    }
    $env:pov_release_type = ($env:pov_build_type).ToLower() + ' release'
    $env:pov_build_title = $env:pov_build_type + ' build'
    $env:pov_build_message += '**Note:** This is a binary-only ' + $env:pov_release_type + '; to install, copy the '
    $env:pov_build_message += 'binary into an existing POV-Ray 3.7 installation. (Make sure to backup the original '
    $env:pov_build_message += 'binary first.)'
    $env:pov_build_message += "`n`n"
    $env:pov_build_message += 'These binaries require Windows Vista or higher, due to limitations of our automated '
    $env:pov_build_message += 'build system. Please contact us on http://news.povray.org/povray.beta-test if you need '
    $env:pov_build_message += 'Windows XP-compatible binaries of this particular version.'
    $env:pov_zipdir = "povray-" + $env:pov_exe_version + '-av' + $env:APPVEYOR_BUILD_NUMBER + $env:artifact_suffix
    $env:pov_binary = "Windows\vs2015\" + $env:bin_dir + "\pvengine*.exe"
    $env:pov_zip = "artifacts\" + $env:pov_zipdir + ".7z"
    New-Item -ItemType directory -Path $env:pov_zipdir | Out-Null
    New-Item -ItemType directory -Path "artifacts" | Out-Null
    Copy-Item $env:pov_binary $env:pov_zipdir
    & "7z" "a" "-r" $env:pov_zip $env:pov_zipdir

test: off

artifacts:
- path: artifacts/*.7z
  name: binaryOnly7z

deploy:
- provider: GitHub
  tag: $(pov_tag_version)
  release: $(pov_build_title) $(pov_build_version)
  description: $(pov_build_message)
  auth_token:
    secure: WkcFPXyr/SJ9TXixTQyivhfoR9FzlryIbc4deHeQ0eA6YRXL0wQopMYJ6XL1/FJK
  draft: true
  prerelease: true
