<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Random</b></font><font size="-1"> with built &iacute;n function and with macros from 'rand.inc'</font></div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp; &nbsp; <a href="../Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="../Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_function_inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="../Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp;<b>&gt;</b> <!--a href="../Random/__index.htm"--><b>Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="../Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="31_random_linear_height.txt" target="_new">
          <img src="31_random_linear_height.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">random height linear</font></div>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_random_linear_size.txt" target="_new">
          <img src="32_random_linear_size.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">random size linear</font></div>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="33_random_quadratic_position.txt" target="_new">
          <img src="33_random_quadratic_position.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">random position quadratic</font></div>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="34_random_cubic_position.txt" target="_new">
          <img src="34_random_cubic_position.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">random position cubic</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_random_tuft_of_grass.txt" target="_new">
          <img src="35_random_tuft_of_grass.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">random tuft of grass</font>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_VRand_In_Sphere.txt" target="_new">
          <img src="41_VRand_In_Sphere.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">VRand_In_Sphere</font></div>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="42_VRand_On_Sphere.txt" target="_new">
          <img src="42_VRand_On_Sphere.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">VRand_On_Sphere</font></div>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="43_VRand_In_Obj.txt" target="_new">
          <img src="43_VRand_In_Obj.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">VRand_In_Obj</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="71_makegrass_1.txt" target="_new">
          <img src="71_makegrass_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">makegrass 1</font>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="72_makegrass_2.txt" target="_new">
          <img src="72_makegrass_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">makegrass 2</font>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="73_makegrass_3.txt" target="_new">
          <img src="73_makegrass_3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">makegrass 3</font>
 </td>
 <td width="160">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="75_grass_meadow.txt" target="_new">
          <img src="75_grass_meadow.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">grass meadow</font>
 </td>
</tr></table>







</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>