<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Colors in Textures</b></font></div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp; &nbsp; <a href="../Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="../Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_function_inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="../Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="../Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Colors_in_textures/__index.htm"--><b>Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="95%" bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<!-- row 1 -->
<tr>

 <td width="48" align="left">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="10_color_White.txt" target="_new">
          <img src="10_color_White.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_color_Gray85.txt" target="_new">
          <img src="11_color_Gray85.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="12_color_Gray75.txt" target="_new">
          <img src="12_color_Gray75.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="14_color_Gray50.txt" target="_new">
          <img src="14_color_Gray50.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="16_color_Gray25.txt" target="_new">
          <img src="16_color_Gray25.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="17_color_Gray10.txt" target="_new">
          <img src="17_color_Gray10.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="18_color_Black.txt" target="_new">
          <img src="18_color_Black.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
</tr>
<!-- row 2 -->
<tr>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="19_very_light_brown.txt" target="_new">
          <img src="19_very_light_brown.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="20_light_brown.txt" target="_new">
          <img src="20_light_brown.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_dark_brown.txt" target="_new">
          <img src="22_dark_brown.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="23_very_dark_brown.txt" target="_new">
          <img src="23_very_dark_brown.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>

</tr>
<!-- row 3 -->
<tr>

 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="84_very_pale_red_violet.txt" target="_new">
          <img src="84_very_pale_red_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="85_pale_red_violet.txt" target="_new">
          <img src="85_pale_red_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="88_red_violet.txt" target="_new">
          <img src="88_red_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="92_red_wine.txt" target="_new">
          <img src="92_red_wine.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="94_very_dark_red.txt" target="_new">
          <img src="94_very_dark_red.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="95_dark_red.txt" target="_new">
          <img src="95_dark_red.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A0_color_Red.txt" target="_new">
          <img src="A0_color_Red.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A1_very_light_red.txt" target="_new">
          <img src="A1_very_light_red.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
</tr>
<!-- row 3 -->
<tr>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A2_red_orange.txt" target="_new">
          <img src="A2_red_orange.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A4_light_orange.txt" target="_new">
          <img src="A4_light_orange.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A5_color_Orange.txt" target="_new">
          <img src="A5_color_Orange.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
<td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A7_deep_yellow.txt" target="_new">
          <img src="A7_deep_yellow.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A9_color_Yellow.txt" target="_new">
          <img src="A9_color_Yellow.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="B4_yellow_lemon.txt" target="_new">
          <img src="B4_yellow_lemon.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="B5_color_YellowGreen.txt" target="_new">
          <img src="B5_color_YellowGreen.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="B7_yellowish_green.txt" target="_new">
          <img src="B7_yellowish_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="B9_dark_yellow_green.txt" target="_new">
          <img src="B9_dark_yellow_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C1_color_Green.txt" target="_new">
          <img src="C1_color_Green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
</tr>
<!-- row 4 -->
<tr>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C2_dark_green.txt" target="_new">
          <img src="C2_dark_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C3_dark_olive_green.txt" target="_new">
          <img src="C3_dark_olive_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C5_blueish_green.txt" target="_new">
          <img src="C5_blueish_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C4_dark_blue_green.txt" target="_new">
          <img src="C4_dark_blue_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C5_blueish_green.txt" target="_new">
          <img src="C5_blueish_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C6_blue_green.txt" target="_new">
          <img src="C6_blue_green.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C7_light_cyan.txt" target="_new">
          <img src="C7_light_cyan.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="C8_cyan.txt" target="_new">
          <img src="C8_cyan.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="CB_dark_cyan.txt" target="_new">
          <img src="CB_dark_cyan.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="D0_greenish_blue.txt" target="_new">
          <img src="D0_greenish_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="D0_light_greenish_blue.txt" target="_new">
          <img src="D0_light_greenish_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
</tr>
<!-- row 5 -->
<tr>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E0_color_Blue.txt" target="_new">
          <img src="E0_color_Blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E1_dark_blue.txt" target="_new">
          <img src="E1_dark_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E2_bright_blue.txt" target="_new">
          <img src="E2_bright_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E3_light_blue.txt" target="_new">
          <img src="E3_light_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>


 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E3_very_light_blue.txt" target="_new">
          <img src="E3_very_light_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E4_pale_blue.txt" target="_new">
          <img src="E4_pale_blue.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E6_light_violet.txt" target="_new">
          <img src="E6_light_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E6_pale_violet.txt" target="_new">
          <img src="E6_pale_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E6_very_light_violet.txt" target="_new">
          <img src="E6_very_light_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
 <td width="48">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E7_violet.txt" target="_new">
          <img src="E7_violet.jpg" width="48" height="48" border="0"></a></td>
   </tr></table>
 </td>
</tr></table>







</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>