<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../../povray_style.css"
>
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Woods</b></font> of textures.inc and woods.inc</div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../../_index.htm">POV-Ray Templates</b></a></font>
 <br>
  &nbsp;<a href="../__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Skies_and_Clouds/__index.htm">Skies_and_Clouds</b></a><br>
 &nbsp; &nbsp; <a href="../Stones_and_Granites/__index.htm">Stones and Granites</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Woods/__index.htm"--><b>Woods</b></a><br>
 &nbsp; &nbsp; <a href="../Metals/__index.htm">Metals</b></a><br>
 &nbsp; &nbsp; <a href="../Mirrors_and_Glasses/__index.htm">Mirrors and Glasses</b></a><br>
 &nbsp; &nbsp; <a href="../Normal_Examples/__index.htm">Normal Examples</b></a><br>
 &nbsp; &nbsp; <a href="../tiling/__index.htm">tiling patterns</b></a><br>
 &nbsp; &nbsp; <a href="../pavement/__index.htm">pavement patterns</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="01_Cherry_Wood.txt" target="_new">
          <img src="01_Cherry_Wood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Cherry_Wood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_Pine_Wood.txt" target="_new">
          <img src="02_Pine_Wood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Pine_Wood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="03_Dark_Wood.txt" target="_new">
          <img src="03_Dark_Wood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Dark_Wood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="04_Tan_Wood.txt" target="_new">
          <img src="04_Tan_Wood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Tan_Wood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="05_White_Wood.txt" target="_new">
          <img src="05_White_Wood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">White_Wood</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="06_Tom_Wood.txt" target="_new">
          <img src="06_Tom_Wood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Tom_Wood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="07_Yellow_Pine.txt" target="_new">
          <img src="07_Yellow_Pine.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Yellow_Pine</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="08_Rosewood.txt" target="_new">
          <img src="08_Rosewood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Rosewood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="09_Sandalwood.txt" target="_new">
          <img src="09_Sandalwood.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Sandalwood</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="10_EMBWood1.txt" target="_new">
          <img src="10_EMBWood1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">EMBWood1</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_DMFWood1.txt" target="_new">
          <img src="11_DMFWood1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFWood1</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_DMFWood2.txt" target="_new">
          <img src="11_DMFWood2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFWood2</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_DMFWood3.txt" target="_new">
          <img src="11_DMFWood3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFWood3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_DMFWood4.txt" target="_new">
          <img src="11_DMFWood4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFWood4</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_DMFWood5.txt" target="_new">
          <img src="11_DMFWood5.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFWood5</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_DMFWood6.txt" target="_new">
          <img src="11_DMFWood6.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFWood6</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="12_DMFDarkOak.txt" target="_new">
          <img src="12_DMFDarkOak.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFDarkOak</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="12_DMFLightOak.txt" target="_new">
          <img src="12_DMFLightOak.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DMFLightOak</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Cork.txt" target="_new">
          <img src="22_Cork.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Cork</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Cork_bumps.txt" target="_new">
          <img src="22_Cork_bumps.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Cork bumps</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="30_PineWood1.txt" target="_new">
          <img src="30_PineWood1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">PineWood1</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="31_PineWood2.txt" target="_new">
          <img src="31_PineWood2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">PineWood2</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_PineWood3.txt" target="_new">
          <img src="32_PineWood3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">PineWood3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="33_PineWood4.txt" target="_new">
          <img src="33_PineWood4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">PineWood4</font></div>
 </td>
 <td width="200">
 </td>
</tr>
<tr>
 <td width="200">Needs:<br>
   <font size="2"><b>#include "woods.inc"</b></font>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood1.txt" target="_new">
          <img src="35_T_Wood1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood1</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood2.txt" target="_new">
          <img src="35_T_Wood2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood2</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood3.txt" target="_new">
          <img src="35_T_Wood3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood4.txt" target="_new">
          <img src="35_T_Wood4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood4</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood5.txt" target="_new">
          <img src="35_T_Wood5.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood5</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood6.txt" target="_new">
          <img src="35_T_Wood6.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood6</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood7.txt" target="_new">
          <img src="35_T_Wood7.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood7</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood8.txt" target="_new">
          <img src="35_T_Wood8.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood8</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_T_Wood9.txt" target="_new">
          <img src="35_T_Wood9.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood9</font></div>
 </td>
</tr></table>



<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood10.txt" target="_new">
          <img src="36_T_Wood10.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood10</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood11.txt" target="_new">
          <img src="36_T_Wood11.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood11</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood12.txt" target="_new">
          <img src="36_T_Wood12.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood12</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood13.txt" target="_new">
          <img src="36_T_Wood13.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood13</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood14.txt" target="_new">
          <img src="36_T_Wood14.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood14</font></div>
 </td>

</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood15.txt" target="_new">
          <img src="36_T_Wood15.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood15</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood16.txt" target="_new">
          <img src="36_T_Wood16.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood16</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood17.txt" target="_new">
          <img src="36_T_Wood17.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood17</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood18.txt" target="_new">
          <img src="36_T_Wood18.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood18</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood19.txt" target="_new">
          <img src="36_T_Wood19.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood19</font></div>
 </td>

</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood20.txt" target="_new">
          <img src="36_T_Wood20.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood21</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood21.txt" target="_new">
          <img src="36_T_Wood21.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood21</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood22.txt" target="_new">
          <img src="36_T_Wood22.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood22</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood23.txt" target="_new">
          <img src="36_T_Wood23.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood23</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood24.txt" target="_new">
          <img src="36_T_Wood24.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood24</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood25.txt" target="_new">
          <img src="36_T_Wood25.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood25</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood26.txt" target="_new">
          <img src="36_T_Wood26.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood26</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood27.txt" target="_new">
          <img src="36_T_Wood27.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood27</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood28.txt" target="_new">
          <img src="36_T_Wood28.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood28</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood29.txt" target="_new">
          <img src="36_T_Wood29.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood29</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood30.txt" target="_new">
          <img src="36_T_Wood30.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood30</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood31.txt" target="_new">
          <img src="36_T_Wood31.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood31</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood32.txt" target="_new">
          <img src="36_T_Wood32.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood32</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood33.txt" target="_new">
          <img src="36_T_Wood33.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood33</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood34.txt" target="_new">
          <img src="36_T_Wood34.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood34</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Wood35.txt" target="_new">
          <img src="36_T_Wood35.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Wood35</font></div>
 </td>
</tr></table>



</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>