<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../../povray_style.css"
>
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Stones and Granites</b></font> </div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp;<a href="../__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Skies_and_Clouds/__index.htm">Skies_and_Clouds</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Stones_and_Granites/__index.htm"--><b>Stones and Granites</b></a><br>
 &nbsp; &nbsp; <a href="../Woods/__index.htm">Woods</b></a><br>
 &nbsp; &nbsp; <a href="../Metals/__index.htm">Metals</b></a><br>
 &nbsp; &nbsp; <a href="../Mirrors_and_Glasses/__index.htm">Mirrors and Glasses</b></a><br>
 &nbsp; &nbsp; <a href="../Normal_Examples/__index.htm">Normal Examples</b></a><br>
 &nbsp; &nbsp; <a href="../tiling/__index.htm">tiling patterns</b></a><br>
 &nbsp; &nbsp; <a href="../pavement/__index.htm">pavement patterns</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><font size="-1">Needs:<pre>#include "textures.inc"</font></td></pre>
   </tr></table><font size="1">.</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="05_Pink_Granite.txt" target="_new">
          <img src="05_Pink_Granite.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Pink_Granite</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="05_PinkAlabaster.txt" target="_new">
          <img src="05_PinkAlabaster.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">PinkAlabaster</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Blood_Marble.txt" target="_new">
          <img src="22_Blood_Marble.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Blood_Marble</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Blue_Agate.txt" target="_new">
          <img src="22_Blue_Agate.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Blue_Agate</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Brown_Agate.txt" target="_new">
          <img src="22_Brown_Agate.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Brown_Agate</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Jade.txt" target="_new">
          <img src="22_Jade.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Jade</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Red_Marble.txt" target="_new">
          <img src="22_Red_Marble.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Red_Marble</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Sapphire_Agate.txt" target="_new">
          <img src="22_Sapphire_Agate.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Sapphire_Agate</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_White_Marble.txt" target="_new">
          <img src="22_White_Marble.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">White_Marble</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><font size="-1">Needs:<pre>#include "stones.inc" </font></td></pre>
   </tr></table><font size="1">.</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt1.txt" target="_new">
          <img src="40_T_Grnt1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt1</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt2.txt" target="_new">
          <img src="40_T_Grnt2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt2</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt3.txt" target="_new">
          <img src="40_T_Grnt3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt4.txt" target="_new">
          <img src="40_T_Grnt4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt4</font></div>
 </td>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt5.txt" target="_new">
          <img src="40_T_Grnt5.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt5</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt6.txt" target="_new">
          <img src="40_T_Grnt6.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt6</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt7.txt" target="_new">
          <img src="40_T_Grnt7.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt7</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt8.txt" target="_new">
          <img src="40_T_Grnt8.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt8</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_T_Grnt9.txt" target="_new">
          <img src="40_T_Grnt9.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt9</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt10.txt" target="_new">
          <img src="41_T_Grnt10.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt10</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt11.txt" target="_new">
          <img src="41_T_Grnt11.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt11</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt12.txt" target="_new">
          <img src="41_T_Grnt12.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt12</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt13.txt" target="_new">
          <img src="41_T_Grnt13.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt13</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt14.txt" target="_new">
          <img src="41_T_Grnt14.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt14</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt15.txt" target="_new">
          <img src="41_T_Grnt15.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt15</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt16.txt" target="_new">
          <img src="41_T_Grnt16.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt16</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt17.txt" target="_new">
          <img src="41_T_Grnt17.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt17</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt18.txt" target="_new">
          <img src="41_T_Grnt18.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt18</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt19.txt" target="_new">
          <img src="41_T_Grnt19.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt19</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt20.txt" target="_new">
          <img src="41_T_Grnt20.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt20</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt21.txt" target="_new">
          <img src="41_T_Grnt21.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt21</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt22.txt" target="_new">
          <img src="41_T_Grnt22.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt23</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt24.txt" target="_new">
          <img src="41_T_Grnt24.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt24</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt25.txt" target="_new">
          <img src="41_T_Grnt25.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt25</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt26.txt" target="_new">
          <img src="41_T_Grnt26.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt26</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt27.txt" target="_new">
          <img src="41_T_Grnt27.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt27</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt28.txt" target="_new">
          <img src="41_T_Grnt28.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt28</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="41_T_Grnt29.txt" target="_new">
          <img src="41_T_Grnt29.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Grnt29</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone1.txt" target="_new">
          <img src="50_T_Stone1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone1</font></div>
 </td>
</tr></table>



<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone2.txt" target="_new">
          <img src="50_T_Stone2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone2</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone3.txt" target="_new">
          <img src="50_T_Stone3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone4.txt" target="_new">
          <img src="50_T_Stone4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone4</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone5.txt" target="_new">
          <img src="50_T_Stone5.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone5</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone6.txt" target="_new">
          <img src="50_T_Stone6.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone6</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone7.txt" target="_new">
          <img src="50_T_Stone7.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone7</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone8.txt" target="_new">
          <img src="50_T_Stone8.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone8</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_T_Stone9.txt" target="_new">
          <img src="50_T_Stone9.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone9</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone10.txt" target="_new">
          <img src="51_T_Stone10.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone10</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone11.txt" target="_new">
          <img src="51_T_Stone11.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone11</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone12.txt" target="_new">
          <img src="51_T_Stone12.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone12</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone13.txt" target="_new">
          <img src="51_T_Stone13.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone13</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone14.txt" target="_new">
          <img src="51_T_Stone14.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone14</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone15.txt" target="_new">
          <img src="51_T_Stone15.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone15</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone16.txt" target="_new">
          <img src="51_T_Stone16.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone16</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone17.txt" target="_new">
          <img src="51_T_Stone17.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone17</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone18.txt" target="_new">
          <img src="51_T_Stone18.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone18</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone19.txt" target="_new">
          <img src="51_T_Stone19.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone19</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone20.txt" target="_new">
          <img src="51_T_Stone20.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone20</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone21.txt" target="_new">
          <img src="51_T_Stone21.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone21</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone22.txt" target="_new">
          <img src="51_T_Stone22.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone22</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone23.txt" target="_new">
          <img src="51_T_Stone23.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone23</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone24.txt" target="_new">
          <img src="51_T_Stone24.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone24</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone25.txt" target="_new">
          <img src="51_T_Stone25.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone25</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone26.txt" target="_new">
          <img src="51_T_Stone26.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone26</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone27.txt" target="_new">
          <img src="51_T_Stone27.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone27</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone28.txt" target="_new">
          <img src="51_T_Stone28.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone28</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone29.txt" target="_new">
          <img src="51_T_Stone29.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone29</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone30.txt" target="_new">
          <img src="51_T_Stone30.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone30</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone31.txt" target="_new">
          <img src="51_T_Stone31.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone31</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone32.txt" target="_new">
          <img src="51_T_Stone32.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone32</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone33.txt" target="_new">
          <img src="51_T_Stone33.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone33</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone34.txt" target="_new">
          <img src="51_T_Stone34.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone34</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone35.txt" target="_new">
          <img src="51_T_Stone35.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone35</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone36.txt" target="_new">
          <img src="51_T_Stone36.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone36</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone37.txt" target="_new">
          <img src="51_T_Stone37.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone37</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone38.txt" target="_new">
          <img src="51_T_Stone38.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone38</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone39.txt" target="_new">
          <img src="51_T_Stone39.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone39</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone40.txt" target="_new">
          <img src="51_T_Stone40.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone40</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone41.txt" target="_new">
          <img src="51_T_Stone41.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone41</font></div>
 </td>
</tr><!--/table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone42.txt" target="_new">
          <img src="51_T_Stone42.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone42</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone43.txt" target="_new">
          <img src="51_T_Stone43.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone43</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_T_Stone44.txt" target="_new">
          <img src="51_T_Stone44.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Stone44</font></div>
 </td>
 <td width="200">
   <font size="-1"><pre>                       </font>
 </td></pre>
</tr></table>




</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>