<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="Templates for POV-Ray - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="2"><b>Templates for Persistence of Vision Ray Tracer™ (POV-Ray™)</b><br>
                     <font size="1">For use by cut and paste. Click on the thumbnails to see the according text.</font></font></div>
 </td></tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5"><!--- global table -->
<tr><td valign="top"><!-- Index -->
<font size="4">
 <a href="../index.htm">Demo scene files Index</b></a></font> <br>
<br>
<font size="2">
 <font size="+1"><!--a href="../index.htm"--><b>POV-Ray Templates</b></a></font>
<br>
 &nbsp; &nbsp; <a href="Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="Isosurfaces_by_function_inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="Animation/__index.htm">Animation</b></a><br>
 &nbsp; &nbsp; ___________________<br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->

 <table width="100%" border="0" cellpadding="0" cellspacing="0">
 <tr><td> &nbsp; &nbsp;&nbsp;
 </tr></table>

 </td>
</tr>

<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="3" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Basic_Scenes/__index.htm">
           <img src="Basic_Scenes/Grass_small_clouds.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
   </tr></table><font size="-2"><a href="Basic_Scenes/__index.htm">Ready-made<br>Scenes</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Basic_Shapes_round/__index.htm">
           <img src="Basic_Shapes_round/01_sphere.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Basic_Shapes_round/__index.htm">Basic Shapes<br>round</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Basic_Shapes_angular/__index.htm">
           <img src="Basic_Shapes_angular/B2_prism_Z_house1.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Basic_Shapes_angular/__index.htm">Basic Shapes<br>angular</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Shapes2_inc/__index.htm">
            <img src="Shapes2_inc/40_Wire_Box.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Shapes2_inc/__index.htm">Shapes 2<br>'shape2.inc' etc.</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Shapes3_inc/__index.htm">
           <img src="Shapes3_inc/47_Rounded_Tube_AB.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Shapes3_inc/__index.htm">shapes3.inc<br>&nbsp;</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="blob_fractal/__index.htm">
           <img src="blob_fractal/32_blob_object_mixed.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="blob_fractal/__index.htm">blob + fractal<br>&nbsp;</b></a></font></td>
 <td colspan="2">&nbsp; </td>
</tr>
<tr>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Text_Shapes_3D/__index.htm">
           <img src="Text_Shapes_3D/21_Bevelled_Text_macro.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Text_Shapes_3D/__index.htm">3D text<br>&nbsp;</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="height_field_and_HF_macros/__index.htm">
           <img src="height_field_and_HF_macros/20_HF_Square_macro.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="height_field_and_HF_macros/__index.htm">height_field<br>HF_macros</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Non_CSG_shapes/__index.htm">
           <img src="Non_CSG_shapes/08_bicubic_patch.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Non_CSG_shapes/__index.htm">Mesh and<br>non-CSG</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Isosurfaces_by_basic_functions/__index.htm">
           <img src="Isosurfaces_by_basic_functions/15_Isosurface_cross2.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Isosurfaces_by_basic_functions/__index.htm">Isosurfaces by<br>basic functions</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Isosurfaces_by_function_inc/__index.htm">
           <img src="Isosurfaces_by_function_inc/6m_Iso_f_mesh1.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Isosurfaces_by_function_inc/__index.htm">Isosurfaces by<br>function.inc</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Isosurfaces_by_pattern_functions/__index.htm">
           <img src="Isosurfaces_by_pattern_functions/97_Iso_Sphere_pigment.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by<br>pattern functions</b></a></font></td>
 <td colspan="2">&nbsp; </td>
</tr>

<tr>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Polynomial_Quartic/__index.htm">
           <img src="Polynomial_Quartic/10_Glob_5.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Polynomial_Quartic/__index.htm">Polynomial<br>Quartic</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Parametric_Surfaces/__index.htm">
           <img src="Parametric_Surfaces/45_parametric_sin_surface.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Parametric_Surfaces/__index.htm">Parametric<br>Surfaces</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Meshes_by_meshmaker_inc/__index.htm">
           <img src="Meshes_by_meshmaker_inc/20_mesh_by_array_of_splines.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Meshes_by_meshmaker_inc/__index.htm">Meshes by<br>meshmaker.inc</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="While_Loops_For_Loops/__index.htm">
           <img src="While_Loops_For_Loops/24_for_loop_cubic_3D_nested.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="While_Loops_For_Loops/__index.htm">While Loops,<br>For Loops</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Sphere_sweep_Spline_curves/__index.htm">
           <img src="Sphere_sweep_Spline_curves/83_spline_cubic_spline.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Sphere_sweep_Spline_curves/__index.htm">sphere_sweep,<br>Spline curves</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Random/__index.htm">
           <img src="Random/34_random_cubic_position.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Random/__index.htm">Random<br>&nbsp;</b></a></font></td>
 <td colspan="2">&nbsp; </td>
</tr>



<tr>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Shearing_and_transform/__index.htm">
           <img src="Shearing_and_transform/01_matrix_shear_y_to_x.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Shearing_and_transform/__index.htm">shearing +<br>transform</b></a></font></td>
 <td width="80" valign="top" align="center">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Colors_in_textures/__index.htm">
           <img src="Colors_in_textures/B4_yellow_lemon.jpg" width="60" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Colors_in_textures/__index.htm">Colors<br>in textures</b></a></font></td>
 <td width="80" valign="top" align="center">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Textures_Materials/__index.htm">
           <img src="Textures_Materials/16_crackle_with_textures.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Textures_Materials/__index.htm">Textures &amp;<br>Materials</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Lights_skies_fogs_rainbow/__index.htm">
           <img src="Lights_skies_fogs_rainbow/13_soft_area_light.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Lights_skies_fogs_rainbow/__index.htm">Lights, skies<br>fogs, rainbow</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Radiosity_Photons/__index.htm">
           <img src="Radiosity_Photons/85_Photons_scene1.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Radiosity_Photons/__index.htm">Radiosity,<br>Photons</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Include/__index.htm">
           <img src="Include/30_Include_File_Socket_Use.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Include/__index.htm">Own<br>include files</b></a></font></td>
 <td colspan="2">&nbsp; </td>
</tr>
<tr>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Math_functions/__index.htm">
           <img src="Math_functions/80_sine_function.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Math_functions/__index.htm">Math<br>Functions</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="General_statements/__index.htm"><font size="-2"><nobr>#default{finish{</nobr><br>
           <nobr>global_settings{</nobr><br>
           max_trace_... <br>
           global_settings{</font>
            <!--img src="10_animation1s.jpg" width="80" height="60" border="0" hspace="0" vspace="0" --></a></td>
    </tr></table><font size="-2"><a href="General_statements/__index.htm">General<br>statements</b></a></font></td>
 <td width="80" valign="top">
   <table border="2" bgcolor="#EFEFEF" cellpadding="0"
                     bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
    <tr><td><a href="Animation/__index.htm">
           <img src="Animation/10_animation1.jpg" width="80" height="60" border="0" hspace="0" vspace="0"></a></td>
    </tr></table><font size="-2"><a href="Animation/__index.htm">Animation<br>&nbsp;</b></a></font></td>
 <td colspan="2">&nbsp; </td>
 <td colspan="2">&nbsp; </td>
 <td colspan="2">&nbsp; </td>
 <td colspan="2">&nbsp; </td>






</tr>
</table>
<br>
<br>
<br>

</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>