<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Isosurfaces by 'function.inc'</b></font></div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp; &nbsp; <a href="../Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="../Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Isosurfaces_by_function_inc/__index.htm"--><b>Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="../Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="../Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="../Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="43_Iso_f_rounded_box.txt" target="_new">
          <img src="43_Iso_f_rounded_box.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_rounded_box</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="44_Iso_f_pillow.txt" target="_new">
          <img src="44_Iso_f_pillow.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_pillow</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="47_Iso_f_superellipsoid.txt" target="_new">
          <img src="47_Iso_f_superellipsoid.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_superellipsoid</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="48_Iso_f_torus.txt" target="_new">
          <img src="48_Iso_f_torus.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_torus</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="49_Iso_f_torus2.txt" target="_new">
          <img src="49_Iso_f_torus2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_torus2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_Iso_f_paraboloid.txt" target="_new">
          <img src="50_Iso_f_paraboloid.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_paraboloid</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="55_Iso_f_sphere.txt" target="_new">
          <img src="55_Iso_f_sphere.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_sphere</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="66_Iso_f_heart.txt" target="_new">
          <img src="66_Iso_f_heart.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_heart</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="67_Iso_f_comma.txt" target="_new">
          <img src="67_Iso_f_comma.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_comma</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="68_Iso_f_dupin_cyclid.txt" target="_new">
          <img src="68_Iso_f_dupin_cyclid.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_dupin_cyclid</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6a_Iso_f_helix1.txt" target="_new">
          <img src="6a_Iso_f_helix1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_helix1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6b_Iso_f_helix1.txt" target="_new">
          <img src="6b_Iso_f_helix1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_helix1</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6c_Iso_f_helix2.txt" target="_new">
          <img src="6c_Iso_f_helix2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_helix2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6d_Iso_f_spiral.txt" target="_new">
          <img src="6d_Iso_f_spiral.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_spiral</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6m_Iso_f_mesh1.txt" target="_new">
          <img src="6m_Iso_f_mesh1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_mesh1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6q_Iso_f_flange_cover.txt" target="_new">
          <img src="6q_Iso_f_flange_cover.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_flange_cover</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6r_Iso_f_spikes.txt" target="_new">
          <img src="6r_Iso_f_spikes.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_spikes</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="6s_Iso_f_spikes_2d.txt" target="_new">
          <img src="6s_Iso_f_spikes_2d.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface f_spikes_2d</font></div>
 </td>
 <td width="200">&nbsp;</td>
 <td width="200">&nbsp;</td>
</tr></table>




</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>