<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Ready-made Basic Scenes</b></font> complete scene file templates</div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp;<b>&gt;</b> <!--a href="Basic_Scenes/__index.htm"--><b>Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="../Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_function.inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="../Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="../Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="../Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Checkered_plane.pov" target="_new">
          <img src="Checkered_plane.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Checkered plane</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Desert_blue_sky.pov" target="_new">
          <img src="Desert_blue_sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Desert, blue sky</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="White_sands_blue_sky.pov" target="_new">
          <img src="White_sands_blue_sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">White sands, blue sky</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="pure_white_background.pov" target="_new">
          <img src="pure_white_background.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">pure white background</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Grass_partly_cloudy_sky.pov" target="_new">
          <img src="Grass_partly_cloudy_sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Grass, partly cloudy sky</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Grass_small_clouds.pov" target="_new">
          <img src="Grass_small_clouds.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Grass, small clouds</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Night_moon_partly_cloudy.pov" target="_new">
          <img src="Night_moon_partly_cloudy.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Night, moon, partly cloudy</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Rainy_S_Cloud4.pov" target="_new">
          <img src="Rainy_S_Cloud4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Rainy S_Cloud4</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Sea_blue_sky.pov" target="_new">
          <img src="Sea_blue_sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Sea, blue sky</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Sea_partly_cloudy_sky.pov" target="_new">
          <img src="Sea_partly_cloudy_sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Sea, partly cloudy sky</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Sea_small_clouds_in_sky.pov" target="_new">
          <img src="Sea_small_clouds_in_sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Sea, small clouds</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Sea_moon_partly_cloudy.pov" target="_new">
          <img src="Sea_moon_partly_cloudy.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Sea, moon, partly_cloudy</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="starfield.pov" target="_new">
          <img src="starfield.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">starfield</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="DarkBlueSky_Axes.pov" target="_new">
          <img src="DarkBlueSky_Axes.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">DarkBlueSky (Axes)</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Squared_plane_XZ_3D_dark.pov" target="_new">
          <img src="Squared_plane_XZ_3D_dark.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Squared plane XZ 3D dark</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Squared_plane_XY_2D.pov" target="_new">
          <img src="Squared_plane_XY_2D.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Squared plane XY 2D</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Squared_plane_XZ_3D_far.pov" target="_new">
          <img src="Squared_plane_XZ_3D_far.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Squared plane XZ 3D far</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Squared_plane_XZ_3D_near.pov" target="_new">
          <img src="Squared_plane_XZ_3D_near.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Squared plane XZ 3D near</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Squared_XZ_righthand_y_up.pov" target="_new">
          <img src="Squared_XZ_righthand_y_up.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Squared XZ righthand y up</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Squared_XY_righthand_z_up.pov" target="_new">
          <img src="Squared_XY_righthand_z_up.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Squared XY righthand z up</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Orthographic_isometric.pov" target="_new">
          <img src="Orthographic_isometric.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Orthographic isometric</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="Orthographic_scene.pov" target="_new">
          <img src="Orthographic_scene.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Orthographic scene</font></div>
 </td>
 <td width="200"> &nbsp; </td>
 <td width="200"> &nbsp; </td>
 <td width="200"> &nbsp; </td>
</tr></table>
</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>