<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Meshes by macros from meshmaker.inc</b></font></div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp; &nbsp; <a href="../Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="../Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_function_inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Meshes_by_meshmaker_inc/__index.htm"--><b>Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="../Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="../Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="10_prism_by_spline.txt" target="_new">
          <img src="10_prism_by_spline.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">prism by spline</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="15_prism1_by_splines.txt" target="_new">
          <img src="15_prism1_by_splines.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">prism1 by splines</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="20_mesh_by_array_of_splines.txt" target="_new">
          <img src="20_mesh_by_array_of_splines.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">mesh by array of splines</font></div>
 </td>
 <td width="200">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
 <td width="200">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="30_lathe_mesh_by_spline.txt" target="_new">
          <img src="30_lathe_mesh_by_spline.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">lathe mesh by spline</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="35_p_lathe_1.txt" target="_new">
          <img src="35_p_lathe_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric lathe 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_p_lathe_2.txt" target="_new">
          <img src="36_p_lathe_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric lathe 2</font></div>
 </td>
</tr><!--/table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="40_mesh_by_4_splines.txt" target="_new">
          <img src="40_mesh_by_4_splines.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">mesh by 4 splines</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="50_mesh_by_2varfunction_1.txt" target="_new">
          <img src="50_mesh_by_2varfunction_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1"><nobr>mesh by 2var function 1</nobr></font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="52_mesh_by_2varfunction_2.txt" target="_new">
          <img src="52_mesh_by_2varfunction_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1"><nobr>mesh by 2var function 2</nobr></font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="54_mesh_by_2varfunction_3.txt" target="_new">
          <img src="54_mesh_by_2varfunction_3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1"><nobr>mesh by 2var function 3</nobr></font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="60_p_square_uv.txt" target="_new">
          <img src="60_p_square_uv.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric square uv</font></div>
 </td>
</tr><!--/table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"  align="left"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="65_p_sphere_uv.txt" target="_new">
          <img src="65_p_sphere_uv.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric sphere uv</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="70_p_cylinder.txt" target="_new">
          <img src="70_p_cylinder.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric cylinder uv</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="71_p_cylinder_uv_in_out.txt" target="_new">
          <img src="71_p_cylinder_uv_in_out.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric cylinder uv in/out</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="73_p_cylinder_crackle.txt" target="_new">
          <img src="73_p_cylinder_crackle.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric cylinder crackle</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="75_p_cylinder_crackle_2.txt" target="_new">
          <img src="75_p_cylinder_crackle_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric cylinder crackle 2</font></div>
 </td>
</tr><!--/table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"  align="left"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="80_p_shell_1.txt" target="_new">
          <img src="80_p_shell_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric shell 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="82_p_shell_2.txt" target="_new">
          <img src="82_p_shell_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric shell 2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="84_p_shell_3.txt" target="_new">
          <img src="84_p_shell_3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric shell 3</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="86_p_dini_1.txt" target="_new">
          <img src="86_p_dini_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric dini 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="87_p_dini_2.txt" target="_new">
          <img src="87_p_dini_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric dini 2</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="90_p_moebius_1.txt" target="_new">
          <img src="90_p_moebius_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric moebius 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="92_p_moebius_2.txt" target="_new">
          <img src="92_p_moebius_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric moebius 2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="94_p_moebius_3.txt" target="_new">
          <img src="94_p_moebius_3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric moebius 3</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A1_p_klein8_1.txt" target="_new">
          <img src="A1_p_klein8_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric klein8 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A2_p_klein8_2.txt" target="_new">
          <img src="A2_p_klein8_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric klein8 2</font></div>
 </td>
</tr><!--/table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"  align="left"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A3_p_klein8_3.txt" target="_new">
          <img src="A3_p_klein8_3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric klein8 3</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A5_p_klein_1.txt" target="_new">
          <img src="A5_p_klein_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric klein 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A8_p_kleinbottle_1.txt" target="_new">
          <img src="A8_p_kleinbottle_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric kleinbottle 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="A9_p_kleinbottle_2.txt" target="_new">
          <img src="A9_p_kleinbottle_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric kleinbottle 2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="E0_p_steiner_1.txt" target="_new">
          <img src="E0_p_steiner_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric steiner</font></div>
 </td>
</tr><!--/table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"  align="left"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="B0_p_bretzel_1.txt" target="_new">
          <img src="B0_p_bretzel_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric bretzel 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="B1_p_bretzel_2.txt" target="_new">
          <img src="B1_p_bretzel_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric bretzel 2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="D0_p_umbilic_0.txt" target="_new">
          <img src="D0_p_umbilic_0.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric umbilic 0</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="D1_p_umbilic_1.txt" target="_new">
          <img src="D1_p_umbilic_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric umbilic 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="D2_p_umbilic_2.txt" target="_new">
          <img src="D2_p_umbilic_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric umbilic 2</font></div>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F0_p_Spherical_Harmonics_0.txt" target="_new">
          <img src="F0_p_Spherical_Harmonics_0.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 0</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F1_p_Spherical_Harmonics_1.txt" target="_new">
          <img src="F1_p_Spherical_Harmonics_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 1</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F2_p_Spherical_Harmonics_2.txt" target="_new">
          <img src="F2_p_Spherical_Harmonics_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F3_p_Spherical_Harmonics_3.txt" target="_new">
          <img src="F3_p_Spherical_Harmonics_3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 3</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F4_p_Spherical_Harmonics_4.txt" target="_new">
          <img src="F4_p_Spherical_Harmonics_4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 4</font></div>
 </td>
</tr><!--/table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"  align="left"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"-->
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F5_p_Spherical_Harmonics_5.txt" target="_new">
          <img src="F5_p_Spherical_Harmonics_5.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 5</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F6_p_Spherical_Harmonics_6.txt" target="_new">
          <img src="F6_p_Spherical_Harmonics_6.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 6</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F7_p_Spherical_Harmonics_7.txt" target="_new">
          <img src="F7_p_Spherical_Harmonics_7.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 7</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="F8_p_Spherical_Harmonics_8.txt" target="_new">
          <img src="F8_p_Spherical_Harmonics_8.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">parametric Spherical Harmonics 8</font></div>
 </td>

</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="V0_SweepSpline1_1.txt" target="_new">
          <img src="V0_SweepSpline1_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">SweepSpline1 (1)</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="V0_SweepSpline2_1.txt" target="_new">
          <img src="V0_SweepSpline2_1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">SweepSpline1 (1)</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="V1_SweepSpline1_2.txt" target="_new">
          <img src="V1_SweepSpline1_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">SweepSpline1 (2)</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="V1_SweepSpline2_2.txt" target="_new">
          <img src="V1_SweepSpline2_2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">SweepSpline2 (2)</font></div>
 </td>



</tr>
</table>




</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>