<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../../povray_style.css"
>
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Metals</b></font> </div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp;<a href="../__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Skies_and_Clouds/__index.htm">Skies_and_Clouds</b></a><br>
 &nbsp; &nbsp; <a href="../Stones_and_Granites/__index.htm">Stones and Granites</b></a><br>
 &nbsp; &nbsp; <a href="../Woods/__index.htm">Woods</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Metals/__index.htm"--><b>Metals</b></a><br>
 &nbsp; &nbsp; <a href="../Mirrors_and_Glasses/__index.htm">Mirrors and Glasses</b></a><br>
 &nbsp; &nbsp; <a href="../Normal_Examples/__index.htm">Normal Examples</b></a><br>
 &nbsp; &nbsp; <a href="../tiling/__index.htm">tiling patterns</b></a><br>
 &nbsp; &nbsp; <a href="../pavement/__index.htm">pavement patterns</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="01_Rust.txt" target="_new">
          <img src="01_Rust.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Rust</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_Rusty_Iron.txt" target="_new">
          <img src="02_Rusty_Iron.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Rusty_Iron</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="03_Brass_Valley.txt" target="_new">
          <img src="03_Brass_Valley.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Brass_Valley</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="04_Silver1.txt" target="_new">
          <img src="04_Silver1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Silver1</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="05_Silver2.txt" target="_new">
          <img src="05_Silver2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Silver2</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="06_Gold_Metal.txt" target="_new">
          <img src="06_Gold_Metal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Gold_Metal</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="07_Copper_Metal.txt" target="_new">
          <img src="07_Copper_Metal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Copper_Metal</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="08_New_Brass.txt" target="_new">
          <img src="08_New_Brass.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">New_Brass</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="09_Polished_Brass.txt" target="_new">
          <img src="09_Polished_Brass.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Polished_Brass</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="10_Brass_Metal.txt" target="_new">
          <img src="10_Brass_Metal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Brass_Metal</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_Bronze_Metal.txt" target="_new">
          <img src="11_Bronze_Metal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Bronze_Metal</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="12_Spun_Brass.txt" target="_new">
          <img src="12_Spun_Brass.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Spun_Brass</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="13_Brass_Valley.txt" target="_new">
          <img src="13_Brass_Valley.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Brass_Valley</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="14_Brushed_Aluminum.txt" target="_new">
          <img src="14_Brushed_Aluminum.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Brushed_Aluminum</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="15_Silver_Metal.txt" target="_new">
          <img src="15_Silver_Metal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Silver_Metal</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="16_Chrome_Metal.txt" target="_new">
          <img src="16_Chrome_Metal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Chrome_Metal</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="17_Polished_Chrome.txt" target="_new">
          <img src="17_Polished_Chrome.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Polished_Chrome</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="18_Polished_Chrome_red.txt" target="_new">
          <img src="18_Polished_Chrome_red.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Polished_Chrome</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="19_Polished_Chrome_violet.txt" target="_new">
          <img src="19_Polished_Chrome_violet.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Polished_Chrome</font></div>
 </td>
</tr>
<tr>
 <td width="100%" colspan="5"> <br>
   <font size="2"><b>#include "woods.inc"</b></font>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_1A.txt" target="_new">
          <img src="32_T_Copper_1A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_1A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_2A.txt" target="_new">
          <img src="32_T_Copper_2A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_2A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_3A.txt" target="_new">
          <img src="32_T_Copper_3A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_3A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_4A.txt" target="_new">
          <img src="32_T_Copper_4A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_4A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_5A.txt" target="_new">
          <img src="32_T_Copper_5A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_5A</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_5C.txt" target="_new">
          <img src="32_T_Copper_5C.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_5C</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="32_T_Copper_5E.txt" target="_new">
          <img src="32_T_Copper_5E.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Copper_5E</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="34_T_Silver_1A.txt" target="_new">
          <img src="34_T_Silver_1A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Silver_1A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="34_T_Silver_3A.txt" target="_new">
          <img src="34_T_Silver_3A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Silver_3A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="34_T_Silver_5A.txt" target="_new">
          <img src="34_T_Silver_5A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Silver_5A</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Chrome_1A.txt" target="_new">
          <img src="36_T_Chrome_1A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Chrome_1A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Chrome_3A.txt" target="_new">
          <img src="36_T_Chrome_3A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Chrome_3A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Chrome_5A.txt" target="_new">
          <img src="36_T_Chrome_5A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Chrome_5A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Chrome_5C.txt" target="_new">
          <img src="36_T_Chrome_5C.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Chrome_5C</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="36_T_Chrome_5E.txt" target="_new">
          <img src="36_T_Chrome_5E.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Chrome_5E</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_1A.txt" target="_new">
          <img src="37_T_Gold_1A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_1A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_1C.txt" target="_new">
          <img src="37_T_Gold_1C.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_1C</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_1E.txt" target="_new">
          <img src="37_T_Gold_1E.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_1E</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_2A.txt" target="_new">
          <img src="37_T_Gold_2A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_2A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_3A.txt" target="_new">
          <img src="37_T_Gold_3A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_3A</font></div>
 </td>
</tr>
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_4A.txt" target="_new">
          <img src="37_T_Gold_4A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_4A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_5A.txt" target="_new">
          <img src="37_T_Gold_5A.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">T_Gold_5A</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_5C.txt" target="_new">
          <img src="37_T_Gold_5C.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">37_T_Gold_5C</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="37_T_Gold_5E.txt" target="_new">
          <img src="37_T_Gold_5E.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">37_T_Gold_5E</font></div>
 </td>
 <td width="200">&nbsp;</td>
</tr></table>


</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="-1">&copy; Friedrich A. Lohm&uuml;ller, 2010<br>

   homepage:<a href="http://www.f-lohmueller.de"><nobr>http://www.f-lohmueller.de</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>