/*******************************************************************************
 
  POV-Ray documentation style sheet
  based on POV-Ray v3.5 style sheet by Chris Cason
  modified Jul 2003 by Christoph Hormann
  modified Dec 2010 by Jim Holsenback
  modified Jan 2011 by Chris Cason

  adapted for HTML Help Dec 2016 by Christoph Lipka
 
*******************************************************************************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	text-align: justify;
	background-color: white;
	margin-top: 8px;
}

div.Page {
}

div.Content {
	background-color: #ffffff;
	margin-left: inherit !important;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: none;
}

div.NavPanel {
	width: 294px;
	padding: 10px;
	position: fixed;
	overflow: auto;
	top: 8px;
	left: 8px;
	background-color: transparent;
	font-size: 0.8em;
	margin: 0px;
	bottom: 8px;
	border: 1px solid #c0c0c0;
	border-collapse: separate;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

TABLE.NavTable {
	background-color: transparent;
	padding: 6px;
	text-align: left;
}

TABLE.Contents {
	width: 90%;
	background-color: #ffffff;
	border: 1px solid black;
	border-collapse: separate;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

TABLE.Contents TD {
	font-weight: bold;
	font-size: 80%;
	padding-left: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

div.content-level-h1 {
}

div.content-level-h2 {
}

div.content-level-h3 {
	margin-left: 10pt;
}

div.content-level-h4 {
	margin-left: 15pt;
}

div.content-level-h5 {
	margin-left: 20pt;
}

div.content-level-h6 {
	margin-left: 25pt;
}

div.content-level-h7 {
	margin-left: 30pt;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	text-align: justify;
}

td p {
	margin-top: 0;
}

li {
	text-align: justify;
}

a:link, a:active {
	background: none;
	text-decoration: none;
}

a:visited {
	background: none;
	text-decoration: none;
}

img {
	display: block;
	margin-left: 20pt;
}

pre {
	font-family: "Lucida Console" , "Courier New" , "Monaco" , "Courier" , "monospace";
	color: #000000;
	background-color: #e6f4ff;
	border: 1px solid #c4d2dd;
	padding: 3pt;
	white-space: pre-wrap;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

h1, h2, h3, h4, h5, h6, h7 {
	padding-left: 5pt;
	padding-top: 1px;
	padding-bottom: 2px;
	border: 1px solid #c0c0c0;
	width: 99%;
	margin: 0px;
	margin-top: 10pt;
	margin-bottom: 10pt;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

h1 {
	background-color: #FAFAEE;
	color: #2040c0;
	font-size: 17pt;
}

h2 {
	background-color: #F9F9EA;
	color: #2040c0;
	font-size: 15pt;
}

h3 {
	background-color: #F8F8E6;
	color: #2040c0;
	font-size: 12pt;
}

h4 {
	background-color: #F7F7E3;
	color: #2040c0;
	font-size: 11pt;
}

h5 {
	background-color: #F6F6E0;
	color: #2040c0;
	font-size: 10pt;
}

h6 {
	background-color: #F5F5DC;
	color: #2040c0;
	font-size: 10pt;
}

h7 {
	background-color: #F5F5DC;
	color: #2040c0;
	font-size: 10pt;
}

.divh6 h5 {
	background-color: #ffd8c2;
	border-color: #f0c7a8;
	color: #2040c0;
}

.divh7 h5 {
	background-color: #ffd3ba;
	border-color: #f0c2a1;
	color: #2040c0;
}

.divh1 {
	margin-left: 5pt;
	margin-right: 5pt;
}

.divh2 {
	margin-left: 10pt;
	margin-right: 5pt;
}

.divh3 {
	margin-left: 15pt;
	margin-right: 5pt;
}

.divh4 {
	margin-left: 20pt;
	margin-right: 5pt;
}

.divh5 {
	margin-left: 30pt;
	margin-right: 5pt;
}

.divh6 {
	margin-left: 50pt;
	margin-right: 5pt;
}

.divh7 {
	margin-left: 70pt;
	margin-right: 5pt;
}

cite {
	font-weight: bold;
	color: #ff0000;
	background-color: transparent;
}

code {
	font-family: monospace;
	color: #007700;
	background-color: transparent;
}

span.formula {
	background-color: transparent;
	font-style: oblique;
	color: #000000;
}

/* couldn't make it work for IE (FF ok)
   but wanted to leave it in here */
span.moniker {
	background-color: transparent;
	color: transparent;
}

.InSectionTable {
	border: 1px outset;
	background-color: #e6f4ff;
}

.InSectionHeader {
	border: 1px outset;
}

.InSectionSecNo {
}

.InSectionSecName {
}

h1.Splash {
	background-color: #ffffff;
	border: 1px solid black;
	color: #000000;
	text-align: center;
}

table.NavBar {
	border: 1px solid #efefef;
	border-color: #888888;
}

table.HeaderFooter {
	border: 1px solid #b0b0b0;
	background-color: #FBFBF1;
	padding: 5pt;
	margin-top: 8px;
	border-collapse: separate;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

td.HeaderFooter {
	font-size: 160%;
	font-weight: 800;
	color: #2040c0;
}

td.FixedPanelHeading {
	font-size: 120%;
	font-weight: bold;
}

td.ContentsHeading {
	font-size: 110%;
	font-weight: bold;
}

td.NavBar {
	font-size: 90%;
	font-style: oblique;
	text-align: center;
}

strong.HeaderFooter {
	font-weight: 600;
	font-size: 8pt;
	font-style: oblique;
}

table.tablelist {
	width: 90%;
}

strong.NavBar {
	font-weight: bold;
	font-size: 8pt;
	color: #606060;
	font-style: italic;
}

li.index {
	font-size: 8pt;
}

ul.index {
	list-style-type: none;
}

li.menu {
	font-size: 8pt;
	margin-left: -8pt;
}

ul.menu {
	list-style-type: none;
}

.NavHeading {
	font-size: 125%;
	font-weight: bold;
}

.NavItem {
	padding-left: 5pt;
	padding-right: 5pt;
}

.TableStyle01 {
	color: #000000;
	background-color: #f0f4ff;
	border: 1px solid;
	margin-left: 20pt;
	margin-right: 20pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.BeAware {
	color: #000000;
	background-color: #f0f4ff;
	border: 1px solid #d0d2dd;
	padding: 5pt;
	padding-left: 7pt;
	padding-right: 7pt;
	margin-left: 8pt;
	margin-right: 8pt;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

td p.BeAware {
	margin-left: 0pt;
	margin-top: 7pt;
}

.Warning {
	color: #000000;
	background-color: #ffe0e0;
	border: 1px solid #ddc0c0;
	padding: 5pt;
	padding-left: 7pt;
	padding-right: 7pt;
	margin-left: 8pt;
	margin-right: 8pt;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

td p.Warning {
	margin-left: 0pt;
	margin-top: 7pt;
}

.Note {
	color: #000000;
	background-color: #fffff0;
	border: 1px solid #dddddd;
	padding: 3pt;
	padding-left: 7pt;
	padding-right: 7pt;
	margin-left: 8pt;
	margin-right: 8pt;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

td p.Note {
	margin-left: 0pt;
	margin-top: 7pt;
}

.Hint {
	color: #000000;
	background-color: #fff0e8;
	border: 1px solid #ddd0c4;
	padding: 5pt;
	padding-left: 7pt;
	padding-right: 7pt;
	margin-left: 8pt;
	margin-right: 8pt;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

td p.Hint {
	margin-left: 0pt;
	margin-top: 7pt;
}

.Explain {
	color: #000000;
	background-color: #ffe8ff;
	border: 1px solid #ddc6dd;
	padding: 5pt;
	padding-left: 7pt;
	padding-right: 7pt;
	margin-left: 8pt;
	margin-right: 8pt;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

td p.Explain {
	margin-left: 0pt;
	margin-top: 7pt;
}

font.New {
	color: #3300cc;
	font-weight: bold;
	font-style: oblique;
	font-size: 1.05em;
}

font.Change {
	color: #cc0033;
	font-weight: bold;
	font-style: oblique;
	font-size: 1.05em;
}

/* remove the following statement to restore the specified left margin on the note and related messages */
.Note, .Hint, .Warning, .BeAware {
	margin-left: 0pt;
}

dl.Syntax {
	background-color: #ffffff;
	border: 1px solid black;
	padding-bottom: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

dl.Syntax dt {
	font-size: 90%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

dl.Syntax dt.SubDesc {
	font-size: 100%;
	background-color: #e0f0ff;
	padding-top: 1px;
	padding-bottom: 2px;
}

dl.Syntax dd {
	text-align: left;
	padding-right: 10px;
}

dl.Syntax dd.ItemNote {
	font-size: 90%;
	background-color: #FFF0D0;
	padding-left: 20px;
	padding-right: 20px;
}

dl.Syntax dd.Jump {
	float: right;
	font-size: 90%;
	background-color: #e6f4ff;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

table.option-list {
	margin-left: 10pt;
	width: 90%;
	border-collapse: separate;
	border: 1px solid #f8f8f8;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

table.option-list tr td {
	/* width: auto; */
	padding-left: 10pt;
	padding-right: 10pt;
	vertical-align: top;
}

table.option-list tr:nth-child(even) {
	background: #ffffff;
}

table.option-list tr:nth-child(odd) {
	background: #f0f5fe;
}

table.option-list tr td:nth-child(1) {
	white-space: nowrap;
	width: 20%; /* enable this to right-align the first column */ /* text-align: right; */
}

table.option-list tr:hover {
	background: #f0f0fc;
}

table.tablelist {
	border-collapse: separate;
	border-spacing: 0px 5px;
}

table.tablelist tr th {
	background: #f0f5fe;
	padding-left: 10pt;
	padding-right: 10pt;
	border: 1px solid #f0f0f0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

span.header-sub-nav {
	display: inline-block;
	float: right;
	margin-right: 5pt;
}

a.header-sub-nav-prev {
	display: inline-block;
	margin-top: 1px;
	width: 16px;
	height: 1em;
	border: none;
	background:transparent url(images/ArrowUp.png) no-repeat scroll 0 0;
}

a.header-sub-nav-next {
	display: inline-block;
	margin-top: 1px;
	width: 16px;
	height: 1em;
	border: none;
	background:transparent url(images/ArrowDown.png) no-repeat scroll 0 0;
}

div.content-level-h2 span.header-sub-nav a.header-sub-nav-next, div.content-level-h4 span.header-sub-nav a.header-sub-nav-prev {
	margin-top: 4px;
}

div.content-level-h3 span.header-sub-nav a.header-sub-nav-next, div.content-level-h4 span.header-sub-nav a.header-sub-nav-prev {
	margin-top: 2px;
}

img.leftpanel {
	margin: 10px 0px 0px 10px;
}

img.centerpanel {
	margin: 10px 0px 0px 0px;
}

img.rightpanel {
	margin: 10px 0px 0px 0px;
}

img.centered {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

img.left {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}

img.right {
	margin: 10px 10px 0px 10px;
}

p.caption {
	background-color: transparent;
	color: #000000;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
	font-style: bold;
}

table.matte {
	margin: auto;
	background-color: transparent;
	border: 1px solid #dddddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

table.centered {
	margin: auto;
	background-color: transparent;
}

.tabletext {
	margin: 10px; 
}

.Syntax {
	background-color: #e6f4ff;
	border: 1px solid #c4d2dd;
	font-family: "monospace";
	font-size: 0.8em;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-top: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}	

.Syntax dl {
	color: #000000;
	margin-top: 10px;
}

div.Syntax code {
	font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", "Courier", "monospace";
	color: #660000;
	background-color: transparent;
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
}

div.Syntax dt {
	color: #000000;
	font-size: 1em;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 5px;
}

div.Syntax dd {
	text-align: left;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 1em;
	color: #000000;
	background-color: transparent;
}

div.Syntax dd.Jump {
	float: right;
	font-size: 1em;
	background-color: transparent;
	padding: 5px;
	border: 1px solid #c4d2dd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

