<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Isosurfaces by Basic Functions</b></font></div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp; &nbsp; <a href="../Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp; &nbsp; <a href="../Text_Shapes_3D/__index.htm">3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Isosurfaces_by_basic_functions/__index.htm"--><b>Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_function_inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="../Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="../Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="../Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>
 &nbsp; &nbsp; _________________<br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="00_Isosurface_y.txt" target="_new">
          <img src="00_Isosurface_y.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface y</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_Isosurface_box_x.txt" target="_new">
          <img src="02_Isosurface_box_x.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface box x</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="03_Isosurface_house.txt" target="_new">
          <img src="03_Isosurface_house.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface house</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="04_Isosurface_octahedron.txt" target="_new">
          <img src="04_Isosurface_octahedron.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface octahedron</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="05_Isosurface_cristal.txt" target="_new">
          <img src="05_Isosurface_cristal.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface cristal</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="06_Isosurface_cylinder_by_sqrt.txt" target="_new">
          <img src="06_Isosurface_cylinder_by_sqrt.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface cylinder by sqrt</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="07_Isosurface_sphere_by_sqrt.txt" target="_new">
          <img src="07_Isosurface_sphere_by_sqrt.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface sphere by sqrt</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="08_Isosurface_cone_double.txt" target="_new">
          <img src="08_Isosurface_cone_double.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface cone double</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="09_Isosurface_hyperboloid.txt" target="_new">
          <img src="09_Isosurface_hyperboloid.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface hyperboloid</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="10_Isosurface_y_saddle.txt" target="_new">
          <img src="10_Isosurface_y_saddle.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface y saddle</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="12_Isosurface_y_minus_sphere.txt" target="_new">
          <img src="12_Isosurface_y_minus_sphere.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface y minus sphere</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="13_Isosurface_cross1.txt" target="_new">
          <img src="13_Isosurface_cross1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface cross1</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="14_Isosurface_cross1_min_blobed.txt" target="_new">
          <img src="14_Isosurface_cross1_min_blobed.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurf. cross1 min blobed</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="15_Isosurface_cross2.txt" target="_new">
          <img src="15_Isosurface_cross2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface cross2</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="20_Isosurface_sine.txt" target="_new">
          <img src="20_Isosurface_sine.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface sine</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="21_Isosurface_sine_gear.txt" target="_new">
          <img src="21_Isosurface_sine_gear.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface sine gear</font></div>
 </td>
</tr>

<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="21_Isosurface_y_sine_concentric.txt" target="_new">
          <img src="21_Isosurface_y_sine_concentric.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface y sine concentric</font></div>
 </td>
 <td width="200" align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="21_Isosurface_y_sine_cylinder.txt" target="_new">
          <img src="21_Isosurface_y_sine_cylinder.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface y sine cylinder</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="12_Isosurface_y_minus_sphere.txt" target="_new">
          <img src="12_Isosurface_y_minus_sphere.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface y minus sphere</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Isosurface_sine_sphere.txt" target="_new">
          <img src="22_Isosurface_sine_sphere.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface cross1</font></div>
 </td>
</tr>

<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="23_Isosurface_sine_sphere_y.txt" target="_new">
          <img src="23_Isosurface_sine_sphere_y.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface_sine_sphere_y</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="24_Isosurface_sphere_dbl_sinewave.txt" target="_new">
          <img src="24_Isosurface_sphere_dbl_sinewave.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">sine sphere double_sine</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="25_Isosurface_egg.txt" target="_new">
          <img src="25_Isosurface_egg.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Isosurface egg</font></div>
 </td>
 <td width="200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </td>
</tr></table>




</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>