<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../../povray_style.css"
>
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>Skies and Clouds</b></font> </div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp;<a href="../__index.htm">Textures and Materials</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Skies_and_Clouds/__index.htm"--><b>Skies_and_Clouds</b></a><br>
 &nbsp; &nbsp; <a href="../Stones_and_Granites/__index.htm">Stones and Granites</b></a><br>
 &nbsp; &nbsp; <a href="../Woods/__index.htm">Woods</b></a><br>
 &nbsp; &nbsp; <a href="../Metals/__index.htm">Metals</b></a><br>
 &nbsp; &nbsp; <a href="../Mirrors_and_Glasses/__index.htm">Mirrors and Glasses</b></a><br>
 &nbsp; &nbsp; <a href="../Normal_Examples/__index.htm">Normal Examples</b></a><br>
 &nbsp; &nbsp; <a href="../tiling/__index.htm">tiling patterns</b></a><br>
 &nbsp; &nbsp; <a href="../pavement/__index.htm">pavement patterns</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="00_Bright_Blue_Sky.txt" target="_new">
          <img src="00_Bright_Blue_Sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Bright_Blue_Sky</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="00_Bright_Blue_Sky_Lo.txt" target="_new">
          <img src="00_Bright_Blue_Sky_Lo.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Bright_Blue_Sky_Lo</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="01_Blue_Sky.txt" target="_new">
          <img src="01_Blue_Sky.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Blue_Sky</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="01_Blue_Sky2.txt" target="_new">
          <img src="01_Blue_Sky2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Blue_Sky2</font></div>
 </td>
</tr></table>


<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="01_Blue_Sky3.txt" target="_new">
          <img src="01_Blue_Sky3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Blue_Sky3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="01_Shadow_Clouds.txt" target="_new">
          <img src="01_Shadow_Clouds.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Shadow_Clouds</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_P_Cloud1.txt" target="_new">
          <img src="02_P_Cloud1.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">P_Cloud1</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_P_Cloud2.txt" target="_new">
          <img src="02_P_Cloud2.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">P_Cloud2</font></div>
 </td>
</tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_P_Cloud3.txt" target="_new">
          <img src="02_P_Cloud3.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">P_Cloud3</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="02_P_Cloud4.txt" target="_new">
          <img src="02_P_Cloud4.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">P_Cloud4</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="06_Clouds.txt" target="_new">
          <img src="06_Clouds.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Clouds</font></div>
 </td>
 <td width="200">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="06_FBM_Clouds.txt" target="_new">
          <img src="06_FBM_Clouds.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">FBM_Clouds</font></div>
 </td>
</tr></table>




</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>