<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta http-equiv="language" content="en">
<meta name="Author" content="Friedrich A. Lohmueller for POV-Ray, 2013">
<meta name="Description" content="POV-Ray Templates - HTML version">
<title>POV-Ray Templates - HTML version</title>
<link rel="stylesheet" type="text/css" href="../povray_style.css">
</head>
<body bgcolor="#d8d8d0" text="#505030" link="#006677" vlink="#445566" alink="#cc0055">

<table width="100%" border="0"><tr><td>
 <div align="center"><font size="+2"><b>3D Text Shapes</b></font></div>
 </td>
</tr></table>
<a name="start"></a>
<hr size="3">
<table border="0" width="100%" cellspacing="5">  <!--- global table -->
<tr><td valign="top"> <!-- Index - Content - 1st column -->
<font size="2">
 <a href="../../index.htm">Demo scene files Index</b></a><br>
<br>
 <font size="+1"><a href="../_index.htm">POV-Ray Templates</b></a></font>
 <br>
 &nbsp; &nbsp; <a href="../Basic_Scenes/__index.htm">Ready-made Basic Scenes</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_round/__index.htm">Basic Shapes round</b></a><br>
 &nbsp; &nbsp; <a href="../Basic_Shapes_angular/__index.htm">Basic Shapes angular</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes2_inc/__index.htm">Shapes 2</b></a><br>
 &nbsp; &nbsp; <a href="../Shapes3_inc/__index.htm">Shapes 3</b></a><br>
 &nbsp; &nbsp; <a href="../blob_fractal/__index.htm">Blob and Fractal</b></a><br>
 &nbsp;<b>&gt;</b> <!--a href="../Text_Shapes_3D/__index.htm"--><b>3D text shapes</b></a><br>
 &nbsp; &nbsp; <a href="../height_field_and_HF_macros/__index.htm">height_field, HF_macros</b></a><br>
 &nbsp; &nbsp; <a href="../Non_CSG_shapes/__index.htm">Mesh and non-CSG shapes</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_basic_functions/__index.htm">Isosurfaces basic functions</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_function_inc/__index.htm">Isosurfaces function.inc</b></a><br>
 &nbsp; &nbsp; <a href="../Isosurfaces_by_pattern_functions/__index.htm">Isosurfaces by patterns</b></a><br>
 &nbsp; &nbsp; <a href="../Polynomial_Quartic/__index.htm">Polynomial and Quartic</b></a><br>
 &nbsp; &nbsp; <a href="../Parametric_Surfaces/__index.htm">Parametric Surfaces</b></a><br>
 &nbsp; &nbsp; <a href="../Meshes_by_meshmaker_inc/__index.htm">Meshes by meshmaker.inc</b></a><br>
 &nbsp; &nbsp; <a href="../While_Loops_For_Loops/__index.htm">While Loops, For Loops</b></a><br>
<nobr> &nbsp; &nbsp; <a href="../Sphere_sweep_Spline_curves/__index.htm">sphere_sweep, Spline curves</b></a></nobr><br>
 &nbsp; &nbsp; <a href="../Random/__index.htm">Random</b></a><br>
 &nbsp; &nbsp; <a href="../Shearing_and_transform/__index.htm">Shearing and transform</b></a><br>
 &nbsp; &nbsp; <a href="../Colors_in_textures/__index.htm">Colors in textures</b></a><br>
 &nbsp; &nbsp; <a href="../Textures_Materials/__index.htm">Textures and Materials</b></a><br>
 &nbsp; &nbsp; <a href="../Lights_skies_fogs_rainbow/__index.htm">Lights, skies, fogs, rainbow</b></a><br>
 &nbsp; &nbsp; <a href="../Radiosity_Photons/__index.htm">Radiosity and Photons</b></a><br>
 &nbsp; &nbsp; <a href="../Include/__index.htm">Own include files</b></a><br>
 &nbsp; &nbsp; <a href="../Math_functions/__index.htm">Math functions</b></a><br>
 &nbsp; &nbsp; <a href="../General_statements/__index.htm">General statements</b></a><br>
 &nbsp; &nbsp; <a href="../Animation/__index.htm">Animation</b></a><br>

 &nbsp; &nbsp; ___________________<br>
 &nbsp; &nbsp; &nbsp;  <br>

 <nobr> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </nobr>
</font>


</td><td valign="top" rowspan="2"> <!-- Content - 2nd column -->

<a name="Top"></a>
<table width="95%" align="center" border="0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080"><tr><td> <!-- global-->
<tr>
<td valign="top" width="50%">

<table border="0" cellpadding="1" cellspacing="0" width="85%"  bgcolor="#d8d8d0"
     bordercolor="#C0C0C0" bordercolorlight="#FFFFFF" bordercolordark="#808080">
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="10_simple_flat_text_ttf.txt" target="_new">
          <img src="10_simple_flat_text_ttf.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">simple flat text ttf</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="11_text_truetypefont.txt" target="_new">
          <img src="11_text_truetypefont.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">text truetypefont</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="21_Bevelled_Text_macro.txt" target="_new">
          <img src="21_Bevelled_Text_macro.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Bevelled_Text macro</font></div>
 </td>
 <td width="200">&nbsp;</td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="22_Circle_Text_macro.txt" target="_new">
          <img src="22_Circle_Text_macro.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Circle_Text macro</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="23_Circle_Text_Valigned_macro.txt" target="_new">
          <img src="23_Circle_Text_Valigned_macro.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">Circle_Text_Valigned macro</font></div>
 </td>
 <td width="200">&nbsp;</td>
 <td width="200">&nbsp;</td>
</tr>
<tr>
 <td colspan="4" width="600">
 <font size="2">
  <b>NOTE:</b> The following unicode demos work on windows systems<br>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; only if there are installed the according truetype fonts!<br>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  For other systems use the according truetype fonts of your OS.
 </font>
 </td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="51_unicode_Math.txt" target="_new">
          <img src="51_unicode_Math.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">unicode Math</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="52_unicode_Europe.txt" target="_new">
          <img src="52_unicode_Europe.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">unicode Europe</font></div>
 </td>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="54_unicode_German.txt" target="_new">
          <img src="54_unicode_German.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">unicode German</font></div>
 </td>
 <td width="200">&nbsp;</td>
</tr>
<tr>
 <td width="200"><div align="center">
   <table border="2" bordercolor="#C0C0C0" bordercolordark="#FFFFFF" bordercolorlight="#808080">
   <tr><td><a href="53_unicode_Asia.txt" target="_new">
          <img src="53_unicode_Asia.jpg" width="160" height="120" border="0"></a></td>
   </tr></table><font size="1">unicode Asia</font></div>
 </td>
 <td width="200">&nbsp;</td>
 <td width="200">&nbsp;</td>
 <td width="200">&nbsp;</td>
</tr></table>









</div>

</td>
</tr>
</table>
</td></tr>
<tr>
<td valign="middle" align="center"><a href="#top">top</a>
</td></tr></table>

</div>

<!-- footer -->
<hr size="3">
<table width="95%" align="center">
<tr>
 <td><i><font size="1">&copy; Persistence of Vision Ray Tracer, 2013<br>
 <a href="http://www.povray.org"><nobr>http://www.povray.org</nobr></font></i></a>
 </td>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
</tr></table><!-- end footer -->
</body>
</html>